.btn {
    .boxes {
        transition-duration: 0.5s;
    }

    .box2 {
        transition-delay: 0.05s;
    }
    .box3 {
        transition-delay: 0.1s;
    }
    .box4 {
        transition-delay: 0.15s;
    }
    .box5 {
        transition-delay: 0.2s;
    }
    &:hover {
        .overlay {
            .box1 {
                color: #22857F;
            }

            .box2 {
                color: #22857F;
            }
            .box3 {
                color: #22857F;
            }
            .box4 {
                color: #22857F;
            }
            .box5 {
                color: #22857F;
            }
        }
    }
}